/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Barlow Condensed", sans-serif, "Barlow", sans-serif;
  font-weight: 700;
  background-image: url(../img/Rectangle.png);
  background-repeat: no-repeat;
  background-position: 1490px -50px;
}

body, input, textarea, button {
  font-family: "Barlow Condensed", sans-serif, "Barlow", sans-serif;
}

a {
  color: inherit;
}

header {
  width: 100%;
  margin-right: auto;
}
header .header-container {
  margin-top: 64px;
  max-width: 1330px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
header .header-container .header-nav {
  display: flex;
  justify-content: space-between;
}
header .header-container .header-nav .header-nav-ul {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
header .header-container .header-nav .header-nav-ul li:hover {
  text-decoration: underline;
}
header .header-container .header-nav .header-nav-ul .login {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.07em;
  text-align: right;
  color: rgba(36, 41, 66, 0.5);
}
header .header-container .header-nav .header-nav-ul .login:hover {
  text-decoration: underline;
  text-decoration-color: rgba(36, 41, 66, 0.5);
}

main {
  width: 100%;
  display: flex;
  -moz-column-gap: 157px;
       column-gap: 157px;
}
main .main-container {
  margin-top: 162px;
  max-width: 1470px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 157px;
       column-gap: 157px;
}
main .main-container .main-new {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}
main .main-container .main-new .new {
  width: 48px;
  height: 25px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.07em;
  text-align: center;
  color: #fff;
  background: #242942;
  border-radius: 12px;
}
main .main-container .main-new p {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.33em;
  color: rgba(36, 41, 66, 0.5);
}
main .main-container .main-info {
  padding: 20px 0px 64px;
}
main .main-container .main-info h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #242942;
  padding-bottom: 32px;
}
main .main-container .main-info p {
  max-width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: rgba(36, 41, 66, 0.75);
}
main .main-container .main-button {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
main .main-container .main-button button {
  border-radius: 5px;
  width: 184px;
  height: 48px;
  background: #ff5e5e;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-align: center;
  color: #fff;
}
main .main-container .main-button button:hover {
  background: rgba(255, 94, 94, 0.25);
}
main .main-container .main-button a {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.33em;
  color: rgba(36, 41, 66, 0.5);
}
main .main-svg {
  margin-top: -100px;
  max-width: 916px;
  max-height: 445px;
}/*# sourceMappingURL=style.css.map */