
@import "./reset";

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

body{
    font-family: "Barlow Condensed", sans-serif , "Barlow", sans-serif;
    font-weight: 700;
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: 1490px -50px;

  
}

body,input,textarea,button{
    font-family: "Barlow Condensed", sans-serif , "Barlow", sans-serif;
}

a{
    color:inherit;
}


