@import "./base";

header{
    width: 100%;    
    margin-right: auto;
     .header-container{
        margin-top: 64px;
        max-width: 1330px;
        padding: 0px 15px;
        margin-left: auto;
        margin-right: auto;
    
        .header-nav{
            display: flex;
            justify-content: space-between;
    
            .header-nav-ul{
                display: flex;
                column-gap: 40px;
                align-items: center;

                li:hover{
                    text-decoration: underline;
                }
                .login{
                    font-weight: 700;
                    font-size: 15px;
                    letter-spacing: 0.07em;
                    text-align: right;
                    color: rgba(36, 41, 66,0.5);
                    &:hover{
                        text-decoration: underline;
                        text-decoration-color: rgba(36, 41, 66,0.5);
                    }
                }
              }
          }
     }
    }

main{
    width: 100%;
   display: flex; 
   column-gap: 157px;
    

    .main-container{
         margin-top: 162px;
         max-width: 1470px;
         padding: 0px 15px;
         margin-left: auto;
         margin-right: auto;
         display: flex;
         align-items: center;
         column-gap: 157px;

         .main-new{
            display: flex;
            column-gap: 15px;
            align-items: center;
            .new{
                width: 48px;
                height: 25px;
                font-weight: 700;
                font-size: 15px;
                letter-spacing: 0.07em;
                text-align: center;
                color: #fff;
                background: #242942;
                border-radius: 12px;
            }
        p{
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.33em;
            color: rgba(36, 41, 66,0.5);
        }
         }
         .main-info{
            padding: 20px 0px 64px;

            h1{
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
                color: #242942;
                padding-bottom: 32px;
            }
            p{  max-width: 230px;
                font-weight: 400;
                font-size: 18px;
                line-height: 144%;
                color: rgba(36, 41, 66,0.75);
            }
         }
         .main-button{
            display: flex;
            column-gap: 24px;
            align-items: center;
            button{
                border-radius: 5px;
                width: 184px;
                height: 48px;
                background: #ff5e5e;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.07em;
                text-align: center;
                color: #fff;
                &:hover{
    
                    background: rgba(255, 94, 94,0.25);
                }
            }
            a{
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 0.33em;
                color: rgba(36, 41, 66 ,0.5);
            }
         }
    }
    .main-svg{
        margin-top: -100px;
        max-width: 916px;
        max-height: 445px;
      
    
    }
}
